.reset_game_button{
    background-color: red;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.display{
    background-color: red;
    border: none;
    color: black;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
	color: white;
    background-color: #676767;
}

h1{
    font-family: 'Roboto', sans-serif;
	color: white;
}

label {
    display: inline-block;
    float: left;
    width: 65px;
    text-align: right;
}

input[type=text], textarea {
	width: 170px;
}

#distance {
	width: 98px;
}

canvas{
    border: 1px;
    background-color: white;
}

.controlPanel{
   width: 380px; 
   float: left; 
}