.formButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}

.display{
    background-color: red;
    border: none;
    color: black;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

body {
	color: white;
    background-color: black;
}

h1{
    font-family: 'Roboto', sans-serif;
	color: white;
}

label {
    display: inline-block;
    float: left;
    width: 161px;
    text-align: right;
    vertical-align: middle;
}

input[type=text], #message {
	width: 170px;
}

#distance {
	width: 98px;
}

#map {
	font-size: 14px;
	font-color: white;
	font-family: courier-new, monospace;
}

.label{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.devMode{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px;
    border: 10px;
    border-color: white;
}